<h2>My Uploads</h2>

<div class="card-rows">
  <% @images.each do |image| %>
    <% image.images.each do |image_inner| %>
      <div class="card" style="width: 18rem; height: 18rem;">
          <div class="card-body p-1">
            <%= image_tag image_inner, class: 'd-block w-100' %>
            <p class="my-1"><%= image.description %></p>
          </div>
        <%= button_to "View Image", image_path(image.id), class: 'btn btn-secondary stretched-link',  method: :get %>
        <%= button_to "Delete Image", image_path(image), class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
      </div>
    <% end %>
  <% end %>
</div>