<h2>My Uploads</h2>

<div class="card-columns">
<% if @images %>
    <% @images.each do |image| %>
      <div class="card">
        <div class="card-body p-1">
          <%= image_tag image.image, class: 'd-block w-100' %>
          <p class="my-1"><%= image.description %></p>
          </div>
          <div class="buttons-row">
          <%= button_to "View Image", image_path(image.id), class: 'btn btn-secondary stretched-link',  method: :get %>
          <%= button_to "Delete Image", image_path(image), class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
          </div>
      </div>
    <% end %>
  <% end %>
</div>
